@using DotnetViewComponents.ViewModels
@model BreadcrumbsViewModel

@{
    var lastLink = Model.Links.Count > 0 ? Model.Links[Model.Links.Count - 1] : (null, null);
}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <ol class="nhsuk-breadcrumb__list">
        @foreach (var link in Model.Links)
        {
            <li class="nhsuk-breadcrumb__item">
                @if (link == lastLink)
                {
                    @link.Title
                }
                else
                {
                    <a class="nhsuk-breadcrumb__link" href="@link.Url">@link.Title</a>
                }
            </li>
        }
    </ol>

    @if (Model.Links.Count > 0)
    {
        <p class="nhsuk-breadcrumb__back">
            <a class="nhsuk-breadcrumb__backlink" href="@lastLink.Url">
                <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
                @lastLink.Title
            </a>
        </p>
    }

</nav>
