@using DotnetViewComponents.ViewModels
@model SummaryListViewModel

@{
    bool hasActions = !String.IsNullOrWhiteSpace(@Model.SummaryListItem.First().ActionUrl);
}

<dl class="nhsuk-summary-list @(!Model.HasBorder ?  "nhsuk-summary-list--no-border" : "")">
    @foreach (var listItem in Model.SummaryListItem)
    {
        <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
                @listItem.Title
            </dt>
            <dd class="nhsuk-summary-list__value">
                @listItem.Description
            </dd>

            @if (hasActions)
            {
                <dd class="nhsuk-summary-list__actions">

                    <a href=@listItem.ActionUrl>
                        @listItem.ActionName<span class="nhsuk-u-visually-hidden"> @listItem.Title</span>
                    </a>

                </dd>
            }
        </div>
    }
</dl>
